{inc:header.htm}

	<!--两列开始-->
	<div class="cont cf">
		<div class="m_l">
			<div class="b2_tit b10">
				<a href="{$moly[weburl]}">首页</a>
				{loop:$moly_var[place] $v} &#187; <a href="{$v[url]}" title="{$v[name]}">{$v[name]}</a>{/loop}
			</div>

			<!--待完成：幻灯片和频道头条-->

			{block:listeach limit="8"}
			{loop:$data $v}
			<h2 class="b2_tit">
				<a class="more" href="{$v[cate_url]}">更多</a>
				<b>{$v[cate_name]}</b>
			</h2>
			<ul class="b2_cont lists cf b10">
				{loop:$v[list] $lv}
				<li><span>{$lv[date]}</span><a href="{$lv[url]}" target="_blank">{$lv[subject]}</a></li>
				{/loop}
			</ul>
			{/loop}
			{/block}
		</div>

		<div class="m_r">
			{block:category type="sibling"}
			<div class="b10">
				<h2 class="b2_tit">
					<b>相关分类</b>
				</h2>
				<ul class="b2_cont cat_r cf">
					{loop:$data $v}<li><a href="{$v[url]}"{if:$v['cid'] == $_GET['cid']} style="font-weight:bold"{/if}>{$v[name]}</a></li>{/loop}
				</ul>
			</div>
			{/block}

			{inc:right.htm}
		</div>
	</div>
	<!--两列结束-->

{inc:footer.htm}
