{inc:header.htm}
<div class="nav">
    <ul class="cc">
        <li class="current"><a href="index.php?u=block-index">碎片列表</a></li>
        <li><a href="index.php?u=block-add">添加碎片</a></li>
      </ul>
</div>

	<div class="table_list">
	<table cellspacing="0" width="100%">
		<thead>
			<tr>
		        <td style="width:30px">ID</td>
		        <td style="width:150px">碎片名称</td>
		        <td>更多URL</td>
		        <td>碎片代码</td>
		        <td align="center" style="width:100px">操作</td>
	    	</tr>
		</thead>
		<tbody>
			
	    	{if:empty($list)}
	    		<tr class="no_data"><td colspan="5">暂无数据</td></tr>
	    	{else}
		    	{loop:$list $v}
		            <tr>
		            	<td>{$v[id]}</td>
			        	<td>{$v[title]}</td>
			        	<td>{$v[url]}</td>
			        	<td>
			        		<textarea style="width:500px;" disabled>{$v[content]}</textarea>
			        	</td>
			        	<td align="center">
							<a class="btn" href="index.php?u=block-edit-id-{$v[id]}">编辑</a>
							<a class="btn" href="javascript:del({$v[id]});">删除</a>
						</td>
		        	</tr>
	        	{/loop}
        	{/if}
    	</tbody>
	</table>
	</div>
	<div class="page_nav">
		<span>共 <font color="red">{$total}</font> 条</span>{$pages}
	</div>
<script type="text/javascript">
//删除
function del(id) {
	maybeAjax.confirm("删除不可恢复，确定删除？", function(){
		maybeAjax.postd("index.php?u=block-del-ajax-1", {"id":id}, function(data){
			maybeAjax.alert(data);
			if(window.maybeData.err==0) setTimeout(function(){ window.location.reload(); }, 1000);
		});
	});
}
</script>
{inc:footer.htm}