{inc:header.htm}
<div class="nav">
    <ul class="cc">
        <li><a href="index.php?u=database-index">数据库管理</a></li>
        <li class="current"><a href="index.php?u=database-backup">数据库备份</a></li>
        <li><a href="index.php?u=database-recove">备份列表</a></li>
    </ul>
</div>


<form class="check_form" action="index.php?u=database-dobackup" method="post">
	<div class="h_a">基本属性</div>
	<div class="table_full">
		<table width="100%">
			<tbody>
				<tr>
		            <th width="80">分卷备份大小</th>
		            <td><input type="text" id="dsize" value="2" name="size" size="5"> M</td>
		        </tr>
			</tbody>
		</table>
	</div>
	<div class="position-bottom">          
        <button type="submit" class="btn btn_submit mr10">备份</button>
    </div>
	
</form>

<script type="text/javascript">
	
	oInitJson = {
        tiptype:3
    };
    var oVdForm = $(".check_form").Validform(oInitJson);
    oVdForm.addRule([
        {
            ele:"#dsize",
            datatype:"/^[0-9]*[1-9][0-9]*$/",
            altercss:"tipColor",
            nullmsg:"请输入分卷备份大小",
            errormsg:"分卷备份大小只能是正整数"
        }
    ]);

</script>
{inc:footer.htm}
