{inc:header.htm}

			<div class="clearfix">

				<div class="mt10">
				    <h1><b>站点统计:</b></h1>
				    <table class="mt10 default">
				        <tbody>
				        <tr>
					        <th class="caption">分类总数：</th> <td>{$stat[category]}</td>
					        <th class="caption">会员总数：</th> <td>{$stat[user]}</td>
				        </tr>
				        <tr>
					        <th class="caption">文章总数：</th> <td>{$stat[article]}</td>
					        <th class="caption">产品总数：</th> <td>{$stat[product]}</td>
				        </tr>
				        <tr>
					        <th class="caption">图集总数：</th> <td>{$stat[photo]}</td>
					        <th class="caption">评论总数：</th> <td>{$stat[comment]}</td>
				        </tr>
				    	</tbody>
				    </table>
				</div>
				
			</div>

{inc:footer.htm}