{inc:header.htm}
<div class="nav">
    <ul class="cc">
        <li class="current"><a href="index.php?u=menu-index">菜单管理</a></li>
        <li><a href="index.php?u=menu-add">添加菜单</a></li>
      </ul>
</div>
<form method="post" id="myform" action="index.php?u=menu-listorder">
	<div class="table_list">
		<table cellspacing="0" width="100%">
			<thead>
				<tr>
					<td width="40">排序值</td>
			        <td align='center' style="width:30px">ID</td>
			        <td>菜单名称</td>
		            <td align='center'>控制器</td>
		            <td align='center'>方法</td>
		            <td align='center'>参数</td>
		            <td>菜单备注</td>
					<td align='center' width="150">操作</td>
		    	</tr>
			</thead>
			<tbody>
				{$menus}
	    	</tbody>
		</table>
	</div>
	
	<div class="position-bottom">
	    <button data-action="index.php?u=menu-listorder" type="button" class="btn btn_submit J_ajax_submit_btn">排序</button>
	</div>
</form>

{inc:footer.htm}
