{inc:header.htm}
<div class="nav">
    <ul class="cc">
        <li class="current"><a href="javascript:;">重新统计</a></li>
    </ul>
</div>
	<div class="form2">
			<ul class="marginbot">
				<li><label><input type="checkbox" checked="checked" id="re_cate"> <span title="重新统计分类的内容数量">分类内容数量</span></label></li>
				<li><label><input type="checkbox" checked="checked" id="re_table"> <span title="重新统计数据表的 count max 值">综合统计</span></label></li>
			</ul>
			
			<div class="position-bottom">
		        <input type="submit" value="确 定" id="clearcache" class="btn btn_submit" name="submit">
		    </div>
	</div>
<script type="text/javascript">
$("#clearcache").click(function(){
	var v1 = $("#re_cate")[0].checked ? 1 : 0;
	var v2 = $("#re_table")[0].checked ? 1 : 0;
	maybeAjax.postd("index.php?u=tool-rebuild-ajax-1", {"re_cate":v1, "re_table":v2}, function(data){
		maybeAjax.alert(data);
		if(window.maybeData.err==0) setTimeout("window.location.reload()",1000);
	});
});
</script>
{inc:footer.htm}