{inc:header.htm}
<div class="nav">
    <ul class="cc">
        <li><a href="index.php?u=types-index">模块列表</a></li>
        <li class="current"><a href="index.php?u=types-add">添加模块</a></li>
      </ul>
</div>


<form class="check_form" action="index.php?u=types-{$_GET['action']}" method="post">
	<input type="hidden" name="id" value="{$data[id]}">
	<div class="h_a">基本属性</div>
	<div class="table_full">
		<table width="100%">
			<tbody>
				<tr>
		            <th width="80">标题</th>
		            <td><input type="text" id="title" value="{$data[title]}" name="info[title]" maxlength="50"></td>
		        </tr>
		        <tr>
		            <th>类型</th>
		            <td>
                                <select name="info[class]" id="class">
                                    <option value="" >类型</option>
                                    <option value="link" {if:$data[class] =='link'} selected=""{/if}>友情链接</option>
                                    <option value="slide" {if:$data[class] =='slide'} selected=""{/if}>幻灯分类</option>
                                    <option value="navigation" {if:$data[class] =='navigation'} selected=""{/if}>导航分类</option>
                                </select>
                            </td>
		        </tr>
		        <tr>
		            <th>备注</th>
		            <td>
				<textarea  name="info[remark]" style="width:98%;">{$data[remark]}</textarea>
		            </td>
		        </tr>
		        <tr>
		            <th>状态</th>
                            <td>启用<input type="radio" name="info[status]" value="1" {if:$data[status] ==1} checked=""{/if}>
                                <font color="red">禁用</font><input type="radio" name="info[status]" value="0" {if:$data[status] ==0} checked=""{/if}>
                            </td>
		        </tr>                        
			</tbody>
		</table>
	</div>
	<div class="btn_wrap">
    	<div class="btn_wrap_pd">             
        	<button type="submit" class="btn btn_submit mr10">提交</button>
      	</div>
    </div>
	
</form>

<script type="text/javascript">

	oInitJson = {
        tiptype:3
    };
    var oVdForm = $(".check_form").Validform(oInitJson);
    oVdForm.addRule([
        {
            ele:"#class",
            datatype:"*",
            altercss:"tipColor",
            nullmsg:"请选择类型",
            errormsg:"请选择类型"
        },
        {
            ele:"#title",
            datatype:"*",
            altercss:"tipColor",
            nullmsg:"请输入标题",
            errormsg:"标题不能为空"
        }
    ]);

 	
</script>
{inc:footer.htm}
