{inc:header.htm}
<div class="nav">
    <ul class="cc">
        <li class="current"><a href="index.php?u=user-index">用户管理</a></li>
    </ul>
</div>

	<table class="mt10 default">
        <tbody>
        <tr>
	        <th class="caption">登录帐号：</th> <td>{$_user[username]}（{$_user[groupname]}）</td>
	        <th class="caption">内容条数：</th> <td>{$_user[contents]}</td>
        </tr>
        <tr>
	        <th class="caption">评论条数：</th> <td>{$_user[comments]}</td>
	        <th class="caption">登陆次数：</th> <td>{$_user[logins]}</td>
        </tr>
        <tr>
	        <th class="caption">最后登录时间：</th> <td>{$_user[logindate]}</td>
	        <th class="caption">最后登录IP：</th> <td>{$_user[loginip]}</td>
        </tr>
        <tr>
	        <th class="caption">上次登录时间：</th> <td>{$_user[lastdate]}</td>
	        <th class="caption">上次登录IP：</th> <td>{$_user[lastip]}</td>
        </tr>
        <tr>
	        <th class="caption">注册时间：</th> <td>{$_user[regdate]}</td>
	        <th class="caption">注册IP：</th> <td>{$_user[regip]}</td>
        </tr>
        <tr>
	        <th class="caption">邮箱：</th> <td>{$_user[email]}</td>
	        <th class="caption">责任编辑：</th> <td>{$_user[author]}</td>
        </tr>
    	</tbody>
    </table>
    
    <table class="mt10 default">
        <tbody>
        <tr>
	        <th class="caption">个人主页：</th> <td>{$_user[homepage]}</td>
	        <th class="caption">个人介绍：</th> <td>{$_user[intro]}</td>
        </tr>
        <tr>
	        <th class="caption">手机号：</th> <td>{$_user[mobile]}</td>
	        <th class="caption">电话：</th> <td>{$_user[tel]}</td>
        </tr>
        <tr>
	        <th class="caption">地址：</th> <td>{$_user[address]}</td>
	        <th class="caption">QQ：</th> <td>{$_user[qq]}</td>
        </tr>
    	</tbody>
    </table>
	

{inc:footer.htm}
